# Entorno virtual
venv/
# Cache Python
__pycache__/
*.pyc
# VS Code
.vscode/
# Binarios
*.pickle
# Ignorar datasets por defecto
*.csv
*.xlsx
# Mantener este Excel
!DatosEleccionesEspaña.xlsx
# Mantener PDFs
!*.pdf
# Ignorar scripts de ejemplo
CodigoCompletoEjemplo1.py
CodigoCompletoEjemplo2.py
CodigoCompletoEjemplo3.py
CodigoCompletoEjemplo4.py
# COpias
Tarea_Final - copia.docx
Tarea_Final - copia.ipynb
Tarea_Final_Memoria.docx
Tarea_Final.docx
#Fotos
Fotos/
# Enunciados
EjercicioEvaluación.pdf
GuíaElaboraciónTarea.pdf
